<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfxg99.base.dao.BirthdayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xfxg99.base.model.BirthdayInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cust_id" property="custId" jdbcType="INTEGER" />
    <result column="birthday_year" property="birthdayYear" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, birthday_year, birthday, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_birthday_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_birthday_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfxg99.base.model.BirthdayInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_birthday_log (id, cust_id, birthday_year, 
      birthday, description)
    values (#{id,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{birthdayYear,jdbcType=INTEGER}, 
      #{birthday,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xfxg99.base.model.BirthdayInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_birthday_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="birthdayYear != null" >
        birthday_year,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="birthdayYear != null" >
        #{birthdayYear,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfxg99.base.model.BirthdayInfo" >
    update t_birthday_log
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="birthdayYear != null" >
        birthday_year = #{birthdayYear,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfxg99.base.model.BirthdayInfo" >
    update t_birthday_log
    set cust_id = #{custId,jdbcType=INTEGER},
      birthday_year = #{birthdayYear,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="loadBirthdayInfo" parameterType="java.util.Map"  resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from t_birthday_log
  	where 
  		cust_id=#{custId,jdbcType=INTEGER} and
  		birthday_year=#{birthdayYear,jdbcType=INTEGER}
  	
  </select>
  
  
  
  
</mapper>