<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfxg99.base.dao.SysParameterMapper" >
  <resultMap id="BaseResultMap" type="com.xfxg99.base.model.SysParameter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
    <result column="editType" property="edittype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, key, value, name, groupname, editType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sysparameter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sysparameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfxg99.base.model.SysParameter" >
    insert into t_sysparameter (id, key, value, 
      name, groupname, editType
      )
    values (#{id,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, #{edittype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xfxg99.base.model.SysParameter" >
    insert into t_sysparameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="groupname != null" >
        groupname,
      </if>
      <if test="edittype != null" >
        editType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="edittype != null" >
        #{edittype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfxg99.base.model.SysParameter" >
    update t_sysparameter
    <set >
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null" >
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="edittype != null" >
        editType = #{edittype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfxg99.base.model.SysParameter" >
    update t_sysparameter
    set key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      editType = #{edittype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>