<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xfxg99.sale.dao.BillSerialNoMapper" >
  
  <select id = "getNextBillSerialNo" parameterType="java.util.Map"  resultType="java.lang.String">
  	{call get_next_bill_serial_no(#{billType,jdbcType=INTEGER},#{billDate,jdbcType=INTEGER})}
  </select>
  
  <select id = "updateBillSerialNo" parameterType="java.util.Map"  resultType="java.lang.String">
  	{call update_bill_serial_no(#{billType,jdbcType=INTEGER},#{billDate,jdbcType=INTEGER})}
  </select>
  
</mapper>