<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfxg99.sale.dao.CustomerMapper">
  <resultMap id="VMMap" type="com.xfxg99.sale.viewmodel.CustomerVM" >
    <id column="user_id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <collection property="addresses" resultMap="AddressesVMMap"/>
  </resultMap>
  <resultMap id="AddressesVMMap" type="com.xfxg99.sale.viewmodel.AddressVM" >
    <id column="address_id" property="address_id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="VM_Column_List">
  	s.user_id				as	user_id,
  	s.email			as 	email,
  	s.user_name			as	user_name,
  	s.birthday			as	birthday,
  	g.address	as	address
  </sql>
  
  <select id="countVMByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(*)
  	from t_stock as s
  	left join 	t_organization 	as sio 	on 	s.stock_in_org_id 	= sio.id
  	left join 	t_organization 	as soo	on	s.stock_out_org_id	=soo.id
  	left join 	t_organization 	as po 	on 	s.preparer_org_id 	= po.id
  	left join 	t_organization 	as co	on	s.confirmer_org_id	=co.id
  	left join	t_user			as pu	on	s.preparer_id		=pu.id
  	left join	t_user			as ru	on	s.confirmer_id		=ru.id
  	left join	t_stock_goods	as sg	on	sg.stock_id			=s.id
  	left join	ecs_goods		as g	on	sg.goods_id			=g.goods_id
  	where 1=1 
  	<if test="serialNo != null" >
  	and s.serial_no like CONCAT( '%',#{serialNo,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="stock_in_org_id != null" >
  	and s.stock_in_org_id =#{stockInOrgId,jdbcType=INTEGER}
  	</if> 
  	<if test="stock_out_org_id != null" >
  	and s.stock_out_org_id =#{stockOutOrgId,jdbcType=INTEGER}
  	</if>
  	<if test="beginDate != null" >
  	and s.bill_time &gt;=#{beginDate,jdbcType=TIMESTAMP}
  	</if>
  	<if test="endDate != null" >
  	and s.bill_time &lt;=#{endDate,jdbcType=TIMESTAMP}
  	</if> 
  </select>
  
  <select id="loadVMListWithPage" parameterType="java.util.Map" resultMap="VMMap">
  	select 
  		<include refid="VM_Column_List" />
  	from ecs_users as s
  	left join 	ecs_user_address 	as g 	on 	s.user_id 	= g.user_id
  	where 1=1 
  	<if test="pageStart !=null">
  		limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  	</if>
  </select>
  
  <select id="loadVMById" parameterType="java.lang.Integer" resultMap="VMMap">
	select 
  		<include refid="VM_Column_List" />
  	from ecs_users as s
  	left join	ecs_user_address		as g	on	s.user_id 	= g.user_id
  	where s.user_id=  #{id,jdbcType=INTEGER}
  
  </select>
  
  
</mapper>