<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xfxg99.sale.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.xfxg99.sale.model.Goods" >
    <id column="goods_id" property="id" jdbcType="INTEGER" />
    <id column="cat_id" property="catId" jdbcType="INTEGER" />
    <id column="cat_name" property="catName" jdbcType="VARCHAR" />
    <result column="goods_sn" property="sn" jdbcType="VARCHAR" />
    <result column="goods_name" property="name" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="shop_price" property="shopPrice" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    g.goods_id , g.cat_id,cat.cat_name, g.goods_sn, g.goods_name, g.market_price, g.shop_price
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ecs_goods as g
    left join ecs_category as cat  on g.cat_id=cat.cat_id 
    where goods_id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(*)
  	from ecs_goods as g
  	left join ecs_category as cat  on g.cat_id=cat.cat_id 
  	where 1=1  and g.is_delete = false
  	<if test="goodsName != null" >
  	and goods_name like CONCAT( '%',#{goodsName,jdbcType=VARCHAR},'%')
  	</if>  
  </select>
  
  <select id="loadListWithPage" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from ecs_goods as g
  	left join ecs_category as cat  on g.cat_id=cat.cat_id 
  	where 1=1 and g.is_delete = false
  	<if test="goodsName != null" >
  	and goods_name like CONCAT( '%',#{goodsName,jdbcType=VARCHAR},'%')
  	</if>  
  	order by cat_name,goods_name
  	<if test="pageStart !=null">
  		limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  	</if>
  </select>
  
</mapper>